.feedback_zone{
    overflow:scroll;
    margin: 50px 0px 260px 150px;
    width: 1100px;
    display: flex;
}
.feedback_zone .card{
    flex-shrink: 0;
    float:left;
    width: 400px;
    border: 2px solid var(--danger-color);
    border-radius: 10px;
    padding: 30px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: 70px 220px 30px;
    grid-template-rows: 25% 75%;
    align-items: center;
}
.card__name span{
    display: block;
}
.card__name span:nth-child(1){
    font-weight: bold;
}
.card__rating{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__rating::after{
    content: ' ';
    background-image: url('../img/star.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    margin-left: 10px;
    margin-top: 1px;
    padding: 10px;
}
.card__review{
    grid-column-start:1;
    grid-column-end: 3;
}